*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}
ul, ol, li{
    list-style: none;

}
a{
    text-decoration: none;
    color: inherit;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;

}
header{
    height: 100px;
   background-color: rgb(47, 71, 230);
    display: flex;
    justify-content: center;
    align-items: center;

}
h1{
    font-size: 3rem;
}
main{
    flex-grow: 1;
     
}
.Galeria{
height: 100%;
width: 100%;
background-color: aqua;
display: flex;
object-fit: cover;
}

.Galeria > .foto{
    width: 25%;
    height: 100%;
    background-color: blueviolet;
    object-fit: cover;
}
.foto1{
 object-fit: cover;
 width: 100%;
 height: 100%;
}


.container-direita{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.container-superior{
    flex-grow: 1;
    background-color: yellow;
    display: flex;

}
.container-superior-esquerda{
    width: 66%;
    height: 100;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}
.container-superior-esquerda .foto{
    width: 50%;
    height: 50%;
    background-color: rgb(104, 229, 229);
    border: 1px solid rgb(159, 210, 241)
}
.container-superior-esquerda .foto:nth-of-type(1){
    width: 100%;
}
.container-superior > .foto{
    width: 34%;
    height: 100%;
    background-color: plum
}
.container-inferior{
    flex-grow: 1;
    background-color: orange;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.container-inferior .foto{
    width: 33%;
    height: 50%;
    background-color: hsl(209, 74%, 64%);
    border: 1px solid rgb(80, 159, 206);
}
.container-inferior .foto:nth-of-type(3){
    height: 100%;
    width: 67%;
}

footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 1rem;
    background-color: rgb(98, 106, 255);
    
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

